.GameRegister {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.GameRegister__player-info {
    display: flex;
    gap: 16px;
}

.GameRegister__player-symbol {
    display: flex;
    flex-direction: column;
    gap: 8px;
    white-space: nowrap;
}

.GameRegister__player-symbol .MuiToggleButtonGroup-grouped {
    color: white;
}

.GameRegister__player-symbol .Mui-selected {
    background-image: radial-gradient(#e51d74, #8d4fea4a);
    background-color: unset;
    color: white;
}