

.Blackjack {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Blackjack__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 34px;
    height: 600px;
    overflow: hidden;
    box-shadow: -3px 8px 13px #321a5fa1;
    background: radial-gradient(#0f8700, #135f00);
}

.Blackjack__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.Blackjack__cards {
    position: absolute;
    bottom: -100px;
    right: 0;
}

.Blackjack__tabs {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.Blackjack__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.Blackjack__logo-container {
    position: absolute;
    top: 100px;
    left: 48%;
    transform: translateX(-50%);
    width: 260px;
}

.Blackjack__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    opacity: 0;
}

.Blackjack__close {
    position: absolute;
    top: 16px;
    right: 16px;
}

.Blackjack__close-icon {
    color: white;
}

.Blackjack__close-icon:hover {
    opacity: 0.7;
}