@import "styles/index.scss";

.DecorationFigure__ElementO {
    position: absolute;
    bottom: 1px;
    right: 125px;
    width: 170px;
    animation: elementO 5s infinite alternate both;

    @include mobile {
        top: 300px;
        right: -80px;
    }
    
    @include tablet {
        bottom: 0px;
        right: 0px;
    }
}

@keyframes elementO {
    0% {
        transform:rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}

.DecorationFigure__ElementX {
    position: absolute;
    bottom: -10px;
    left: 120px;
    width: 180px;
    animation: elementX 6s 0.5s infinite alternate both;

    @include mobile {
        top: 140px;
        left: -70px;
    }
    
    @include tablet {
        bottom: -30px;
        left: 0px;
    }
}

@keyframes elementX {
    0% {
        transform: translateY(-10px) rotate(5deg);
    }

    40% {
        transform: translateX(-10px) rotate(2deg) scale(1.1);
    }

    80% {
        transform: translateX(10px) rotate(-2deg) scale(1.1);
    }

    100% {
        transform: translateY(10px) rotate(-5deg);
    }
}
