@mixin custom-scroll() {
    scrollbar-width: thin;
    scrollbar-color: $Purple-0 $gray-0;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $Purple-0;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: $gray-0;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: $Purple-0;
    }
}

@mixin mobile {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin exclude-mobile {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 576px) and (max-width: 991px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin custom-screen($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

