// font colors
$font-gray: #d4d7e6;
$font-dark-gray: #919191;
$font-black: #3F4255;
$font-white: #fff;

// elements colors
$gray-0: #d4d7e6;

// shadow
$dark-shadow: 0 7px 20px #00000059;
$light-shadow: 0 7px 20px #2c7eb0;;

// background colors
$bg-Purple: radial-gradient(#1ed5b1, #194c92);
