


.GameBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.GameBoard__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}