


.Home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
}

.Home__thumbnail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.Home__thumbnail-container {
    border-radius: 24px;
    box-shadow: 0px 6px 14px #421995;
    filter: brightness(0.95);
    transition: 0.3s;
    overflow: hidden;
}

.Home__thumbnail-container:hover {
    filter: brightness(1);
    transform: scale(1.05);
    box-shadow: 0px 6px 18px 3px #421995;
}

.Home__thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: center;
}

.Home__thumbnail-title {
    font-size: 24px;
    font-weight: 500;
}

.Home__thumbnail-wrapper--disabled {
    position: relative;
    /* pointer-events: none; */
}

.Home__thumbnail-wrapper--disabled  img {
    filter: brightness(0.5);
}

.Home__thumbnail-wrapper--disabled::after {
    content: "Coming soon...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
}