.GameGrid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.GameGrid__box {
    width: 100%;
    height: 100%;
    border: solid black;
    cursor: pointer;
}

.GameGrid__box:hover {
    background-color: blanchedalmond;
}

.GameGrid__box--0-0 {
    border-width: 0 3px 3px 0;
}

.GameGrid__box--0-1 {
    border-width: 3px 3px 3px 0;
}

.GameGrid__box--0-2 {
    border-width: 3px 3px 0px 0px;
}

.GameGrid__box--1-0 {
    border-width: 0px 3px 3px 3px;
}

.GameGrid__box--1-1 {
    border-width: 3px 3px 3px 3px;
}

.GameGrid__box--1-2 {
    border-width: 3px 3px 0px 3px;
}

.GameGrid__box--2-0 {
    border-width: 0px 0px 3px 3px;
}

.GameGrid__box--2-1 {
    border-width: 3px 0px 3px 3px;
}

.GameGrid__box--2-2 {
    border-width: 3px 0px 0px 3px;
}